---
htmlId: 'experiences'
tags: ['sections']
navHidden: false
---
<div class="col-sm-10 col-sm-offset-1">
    <h1>Expériences</h1>
    <ul class="timeline">
        {% for exp in site.data.experiences %}
        <li class="timeline-inverted">
            <div class="timeline-badge" style="background-color:#{{exp.couleur}}"><i class="fa fa-briefcase"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class=" timeline-title">{{exp.entreprise}}</h4>
                    <p>
                        <small class="text-muted expDate"><i class="glyphicon glyphicon-time"></i> {{exp.date}}</small>
                        <small class="text-muted"><i class="glyphicon glyphicon-map-marker"></i> {{exp.lieu}}</small>
                    </p>
                </div>
                <div class="timeline-body">
                        {% for job in exp.travail %}
                      <p><i class="fa fa-chevron-right text-muted"></i> {{job}}</p><br/>
                        {% endfor %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>